@font-face {
  font-family: 'fpslineicons';
  src: url('../fonts/fpslineicons/fpslineicons.eot?98281823');
  src: url('../fonts/fpslineicons/fpslineicons.eot?98281823#iefix') format('embedded-opentype'),
       url('../fonts/fpslineicons/fpslineicons.woff?98281823') format('woff'),
       url('../fonts/fpslineicons/fpslineicons.ttf?98281823') format('truetype'),
       url('../fonts/fpslineicons/fpslineicons.svg?98281823#fpslineicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fpslineicons';
    src: url('../font/fpslineicons.svg?98281823#fpslineicons') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fpslineicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-heart:before { content: '\e800'; } /* '' */
.icon-clock:before { content: '\e801'; } /* '' */
.icon-presentation:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-search1:before { content: '\e804'; } /* '' */
.icon-search2:before { content: '\e805'; } /* '' */
.icon-search3:before { content: '\e806'; } /* '' */
.icon-push:before { content: '\e807'; } /* '' */
.icon-diagram:before { content: '\e808'; } /* '' */
.icon-setting2:before { content: '\e809'; } /* '' */
.icon-feedback:before { content: '\e80a'; } /* '' */
.icon-home:before { content: '\e80b'; } /* '' */
.icon-calendar:before { content: '\e80c'; } /* '' */
.icon-diagram2:before { content: '\e80d'; } /* '' */
.icon-feedback2:before { content: '\e80e'; } /* '' */
.icon-email:before { content: '\e80f'; } /* '' */
.icon-twitter1:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e811'; } /* '' */
.icon-linkedin:before { content: '\e812'; } /* '' */
.icon-gplus:before { content: '\e813'; } /* '' */
.icon-feedback3:before { content: '\e814'; } /* '' */
.icon-map1:before { content: '\e815'; } /* '' */
.icon-map2:before { content: '\e816'; } /* '' */
.icon-map3:before { content: '\e817'; } /* '' */
.icon-email2:before { content: '\e818'; } /* '' */
.icon-register:before { content: '\e819'; } /* '' */
.icon-padlock1:before { content: '\e81a'; } /* '' */
.icon-download2:before { content: '\e81b'; } /* '' */
.icon-lecturer:before { content: '\e81c'; } /* '' */
.icon-theme:before { content: '\e81d'; } /* '' */
.icon-house:before { content: '\e81e'; } /* '' */
.icon-download1:before { content: '\e81f'; } /* '' */
.icon-badge:before { content: '\e820'; } /* '' */
.icon-trash:before { content: '\e821'; } /* '' */
.icon-bag:before { content: '\e822'; } /* '' */
.icon-twitter2:before { content: '\e823'; } /* '' */
.icon-upload1:before { content: '\e824'; } /* '' */
.icon-setting3:before { content: '\e825'; } /* '' */
.icon-padlock2:before { content: '\e826'; } /* '' */
.icon-chat2:before { content: '\e827'; } /* '' */
.icon-pipette:before { content: '\e828'; } /* '' */
.icon-nocloud:before { content: '\e829'; } /* '' */
.icon-drbag:before { content: '\e82a'; } /* '' */
.icon-user3:before { content: '\e82b'; } /* '' */
.icon-upload2:before { content: '\e82c'; } /* '' */
.icon-eye:before { content: '\e82d'; } /* '' */
.icon-user1:before { content: '\e82e'; } /* '' */
.icon-pinterest:before { content: '\e82f'; } /* '' */
.icon-vimeo:before { content: '\e830'; } /* '' */
.icon-youtube:before { content: '\e831'; } /* '' */
.icon-skype:before { content: '\e832'; } /* '' */
.icon-user2:before { content: '\e833'; } /* '' */
.icon-chat1:before { content: '\e834'; } /* '' */
.icon-evernote:before { content: '\e835'; } /* '' */
.icon-dribbble:before { content: '\e836'; } /* '' */
.icon-behance:before { content: '\e837'; } /* '' */
.icon-pen:before { content: '\e838'; } /* '' */
.icon-pencil:before { content: '\e839'; } /* '' */
.icon-birdpen:before { content: '\e83a'; } /* '' */
.icon-users:before { content: '\e83b'; } /* '' */
.icon-brush:before { content: '\e83c'; } /* '' */
.icon-paintcylinder:before { content: '\e83d'; } /* '' */
.icon-flickr:before { content: '\e83e'; } /* '' */
.icon-deviantart:before { content: '\e83f'; } /* '' */
.icon-digg:before { content: '\e840'; } /* '' */
.icon-emoticon1:before { content: '\e841'; } /* '' */
.icon-emoticon2:before { content: '\e842'; } /* '' */
.icon-emoticon3:before { content: '\e843'; } /* '' */
.icon-emoticon4:before { content: '\e844'; } /* '' */
.icon-emoticon5:before { content: '\e845'; } /* '' */
.icon-emoticon6:before { content: '\e846'; } /* '' */
.icon-emoticon7:before { content: '\e847'; } /* '' */
.icon-emoticon8:before { content: '\e848'; } /* '' */
.icon-emoticon9:before { content: '\e849'; } /* '' */
.icon-emoticon10:before { content: '\e84a'; } /* '' */
.icon-emoticon11:before { content: '\e84b'; } /* '' */
.icon-emoticon12:before { content: '\e84c'; } /* '' */
.icon-emoticon13:before { content: '\e84d'; } /* '' */
.icon-emoticon14:before { content: '\e84e'; } /* '' */
.icon-emoticon15:before { content: '\e84f'; } /* '' */
.icon-emoticon16:before { content: '\e850'; } /* '' */
.icon-emoticon17:before { content: '\e851'; } /* '' */
.icon-emoticon18:before { content: '\e852'; } /* '' */
.icon-emoticon19:before { content: '\e853'; } /* '' */
.icon-emoticon20:before { content: '\e854'; } /* '' */
.icon-emoticon21:before { content: '\e855'; } /* '' */
.icon-emoticon22:before { content: '\e856'; } /* '' */
.icon-emoticon23:before { content: '\e857'; } /* '' */
.icon-emoticon24:before { content: '\e858'; } /* '' */
.icon-emoticon25:before { content: '\e859'; } /* '' */
.icon-emoticon26:before { content: '\e85a'; } /* '' */
.icon-hammer:before { content: '\e85b'; } /* '' */
.icon-wrench1:before { content: '\e85c'; } /* '' */
.icon-screwdriver:before { content: '\e85d'; } /* '' */
.icon-wrench2:before { content: '\e85e'; } /* '' */
.icon-cordlessscrewdriver:before { content: '\e85f'; } /* '' */
.icon-scissors:before { content: '\e860'; } /* '' */
.icon-weather1:before { content: '\e861'; } /* '' */
.icon-weather2:before { content: '\e862'; } /* '' */
.icon-weather3:before { content: '\e863'; } /* '' */
.icon-weather4:before { content: '\e864'; } /* '' */
.icon-weather5:before { content: '\e865'; } /* '' */
.icon-weather6:before { content: '\e866'; } /* '' */
.icon-weather7:before { content: '\e867'; } /* '' */
.icon-weather8:before { content: '\e868'; } /* '' */
.icon-weather9:before { content: '\e869'; } /* '' */
.icon-weather10:before { content: '\e86a'; } /* '' */
.icon-weather11:before { content: '\e86b'; } /* '' */
.icon-weather12:before { content: '\e86c'; } /* '' */
.icon-weather13:before { content: '\e86d'; } /* '' */
.icon-weather14:before { content: '\e86e'; } /* '' */
.icon-weather15:before { content: '\e86f'; } /* '' */
.icon-weather16:before { content: '\e870'; } /* '' */
.icon-weather17:before { content: '\e871'; } /* '' */
.icon-weather18:before { content: '\e872'; } /* '' */
.icon-weather19:before { content: '\e873'; } /* '' */
.icon-weather20:before { content: '\e874'; } /* '' */
.icon-weather21:before { content: '\e875'; } /* '' */
.icon-weather22:before { content: '\e876'; } /* '' */
.icon-weather23:before { content: '\e877'; } /* '' */
.icon-weather24:before { content: '\e878'; } /* '' */
.icon-weather25:before { content: '\e879'; } /* '' */
.icon-weather26:before { content: '\e87a'; } /* '' */
.icon-soundcloud:before { content: '\e87b'; } /* '' */
.icon-battery1:before { content: '\e87c'; } /* '' */
.icon-battery2:before { content: '\e87d'; } /* '' */
.icon-battery3:before { content: '\e87e'; } /* '' */
.icon-battery4:before { content: '\e87f'; } /* '' */
.icon-battery5:before { content: '\e880'; } /* '' */
.icon-battery6:before { content: '\e881'; } /* '' */
.icon-battery7:before { content: '\e882'; } /* '' */
.icon-mouse:before { content: '\e883'; } /* '' */
.icon-imac:before { content: '\e884'; } /* '' */
.icon-gamepad:before { content: '\e885'; } /* '' */
.icon-laptop:before { content: '\e886'; } /* '' */
.icon-printer:before { content: '\e887'; } /* '' */
.icon-headphone:before { content: '\e888'; } /* '' */
.icon-keyboard:before { content: '\e889'; } /* '' */
.icon-monitor:before { content: '\e88a'; } /* '' */
.icon-telephone:before { content: '\e88b'; } /* '' */
.icon-ipod:before { content: '\e88c'; } /* '' */
.icon-mic1:before { content: '\e88d'; } /* '' */
.icon-bakelitedisk:before { content: '\e88e'; } /* '' */
.icon-usb1:before { content: '\e88f'; } /* '' */
.icon-mic2:before { content: '\e890'; } /* '' */
.icon-calculator:before { content: '\e891'; } /* '' */
.icon-floppydisk:before { content: '\e892'; } /* '' */
.icon-cpu:before { content: '\e893'; } /* '' */
.icon-vlc:before { content: '\e894'; } /* '' */
.icon-usb2:before { content: '\e895'; } /* '' */
.icon-classictelephone:before { content: '\e896'; } /* '' */
.icon-projector:before { content: '\e897'; } /* '' */
.icon-webcam:before { content: '\e898'; } /* '' */
.icon-speaker1:before { content: '\e899'; } /* '' */
.icon-speaker2:before { content: '\e89a'; } /* '' */
.icon-speaker3:before { content: '\e89b'; } /* '' */
.icon-speaker4:before { content: '\e89c'; } /* '' */
.icon-camera3:before { content: '\e89d'; } /* '' */
.icon-camera2:before { content: '\e89e'; } /* '' */
.icon-tv:before { content: '\e89f'; } /* '' */
.icon-polaroid:before { content: '\e8a0'; } /* '' */
.icon-antenna:before { content: '\e8a1'; } /* '' */
.icon-camera4:before { content: '\e8a2'; } /* '' */
.icon-radio:before { content: '\e8a3'; } /* '' */
.icon-arrow1:before { content: '\e8a4'; } /* '' */
.icon-arrow2:before { content: '\e8a5'; } /* '' */
.icon-arrow3:before { content: '\e8a6'; } /* '' */
.icon-arrow4:before { content: '\e8a7'; } /* '' */
.icon-arrow5:before { content: '\e8a8'; } /* '' */
.icon-arrow51:before { content: '\e8a9'; } /* '' */
.icon-arrow6:before { content: '\e8aa'; } /* '' */
.icon-arrow7:before { content: '\e8ab'; } /* '' */
.icon-arrow8:before { content: '\e8ac'; } /* '' */
.icon-arrow9:before { content: '\e8ad'; } /* '' */
.icon-arrow10:before { content: '\e8ae'; } /* '' */
.icon-arrow11:before { content: '\e8af'; } /* '' */
.icon-arrow12:before { content: '\e8b0'; } /* '' */
.icon-arrow13:before { content: '\e8b1'; } /* '' */
.icon-arrow14:before { content: '\e8b2'; } /* '' */
.icon-arrow15:before { content: '\e8b3'; } /* '' */
.icon-arrow16:before { content: '\e8b4'; } /* '' */
.icon-arrow17:before { content: '\e8b5'; } /* '' */
.icon-arrow18:before { content: '\e8b6'; } /* '' */
.icon-arrow19:before { content: '\e8b7'; } /* '' */
.icon-arrow20:before { content: '\e8b8'; } /* '' */
.icon-arrow21:before { content: '\e8b9'; } /* '' */
.icon-arrow22:before { content: '\e8ba'; } /* '' */
.icon-arrow23:before { content: '\e8bb'; } /* '' */
.icon-arrow24:before { content: '\e8bc'; } /* '' */
.icon-arrow25:before { content: '\e8bd'; } /* '' */
.icon-arrow26:before { content: '\e8be'; } /* '' */
.icon-arrow27:before { content: '\e8bf'; } /* '' */
.icon-arrow28:before { content: '\e8c0'; } /* '' */
.icon-arrow29:before { content: '\e8c1'; } /* '' */
.icon-arrow30:before { content: '\e8c2'; } /* '' */
.icon-arrow31:before { content: '\e8c3'; } /* '' */
.icon-arrow32:before { content: '\e8c4'; } /* '' */
.icon-arrow33:before { content: '\e8c5'; } /* '' */
.icon-arrow52:before { content: '\e8c6'; } /* '' */
.icon-arrow34:before { content: '\e8c7'; } /* '' */
.icon-arrow35:before { content: '\e8c8'; } /* '' */
.icon-arrow36:before { content: '\e8c9'; } /* '' */
.icon-arrow37:before { content: '\e8ca'; } /* '' */
.icon-arrow38:before { content: '\e8cb'; } /* '' */
.icon-arrow39:before { content: '\e8cc'; } /* '' */
.icon-arrow40:before { content: '\e8cd'; } /* '' */
.icon-arrow41:before { content: '\e8ce'; } /* '' */
.icon-arrow42:before { content: '\e8cf'; } /* '' */
.icon-arrow43:before { content: '\e8d0'; } /* '' */
.icon-arrow48:before { content: '\e8d1'; } /* '' */
.icon-arrow49:before { content: '\e8d2'; } /* '' */
.icon-arrow50:before { content: '\e8d3'; } /* '' */
.icon-arrow44:before { content: '\e8d4'; } /* '' */
.icon-arrow45:before { content: '\e8d5'; } /* '' */
.icon-arrow46:before { content: '\e8d6'; } /* '' */
.icon-arrow47:before { content: '\e8d7'; } /* '' */
.icon-star1:before { content: '\e8d8'; } /* '' */
.icon-star2:before { content: '\e8d9'; } /* '' */
.icon-star3:before { content: '\e8da'; } /* '' */
.icon-cart3:before { content: '\e8db'; } /* '' */
.icon-cart31:before { content: '\e8dc'; } /* '' */
.icon-cart32:before { content: '\e8dd'; } /* '' */
.icon-moneybag:before { content: '\e8de'; } /* '' */
.icon-moneypig:before { content: '\e8df'; } /* '' */
.icon-cart:before { content: '\e8e0'; } /* '' */
.icon-cart2:before { content: '\e8e1'; } /* '' */
.icon-gift:before { content: '\e8e2'; } /* '' */
.icon-safe:before { content: '\e8e3'; } /* '' */
.icon-gold1:before { content: '\e8e4'; } /* '' */
.icon-gold2:before { content: '\e8e5'; } /* '' */
.icon-gold3:before { content: '\e8e6'; } /* '' */
.icon-gold4:before { content: '\e8e7'; } /* '' */
.icon-gold5:before { content: '\e8e8'; } /* '' */
.icon-judicialgavel:before { content: '\e8e9'; } /* '' */
.icon-bankcard:before { content: '\e8ea'; } /* '' */
.icon-bell:before { content: '\e8eb'; } /* '' */
.icon-bag2:before { content: '\e8ec'; } /* '' */
.icon-money1:before { content: '\e8ed'; } /* '' */
.icon-money2:before { content: '\e8ee'; } /* '' */
.icon-money3:before { content: '\e8ef'; } /* '' */
.icon-money4:before { content: '\e8f0'; } /* '' */
.icon-shop:before { content: '\e8f1'; } /* '' */
.icon-blogger:before { content: '\e8f2'; } /* '' */
.icon-lamp:before { content: '\e8f3'; } /* '' */
.icon-setting1:before { content: '\e8f4'; } /* '' */
.icon-vote:before { content: '\e8f5'; } /* '' */
.icon-registration:before { content: '\e8f6'; } /* '' */
.icon-arrow53:before { content: '\e8f7'; } /* '' */
.icon-arrow54:before { content: '\e8f8'; } /* '' */
.icon-arrow55:before { content: '\e8f9'; } /* '' */
.icon-arrow56:before { content: '\e8fa'; } /* '' */
.icon-arrow57:before { content: '\e8fb'; } /* '' */
.icon-arrow58:before { content: '\e8fc'; } /* '' */
.icon-arrow59:before { content: '\e8fd'; } /* '' */
.icon-arrow60:before { content: '\e8fe'; } /* '' */
.icon-arrow61:before { content: '\e8ff'; } /* '' */
.icon-arrow62:before { content: '\e900'; } /* '' */
.icon-arrow63:before { content: '\e901'; } /* '' */
.icon-arrow64:before { content: '\e902'; } /* '' */
.icon-arrow65:before { content: '\e903'; } /* '' */
.icon-arrow66:before { content: '\e904'; } /* '' */
.icon-arrow67:before { content: '\e905'; } /* '' */
.icon-arrow68:before { content: '\e906'; } /* '' */
.icon-arrow69:before { content: '\e907'; } /* '' */
.icon-arrow70:before { content: '\e908'; } /* '' */
.icon-arrow71:before { content: '\e909'; } /* '' */
.icon-arrow72:before { content: '\e90a'; } /* '' */
.icon-arrow73:before { content: '\e90b'; } /* '' */
.icon-arrow74:before { content: '\e90c'; } /* '' */
.icon-arrow75:before { content: '\e90d'; } /* '' */
.icon-arrow76:before { content: '\e90e'; } /* '' */
.icon-arrow77:before { content: '\e90f'; } /* '' */
.icon-arrow78:before { content: '\e910'; } /* '' */
.icon-arrow79:before { content: '\e911'; } /* '' */