@media (max-width: 991px) {
  #header .header-menu {
    display: none;
  }
  #header .header-menu .nav-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    bottom: 0;
    background-color: #EEEDF2;
    z-index: 9999;
    text-align: left;
  }
  #header .header-menu .nav-menu li {
    float: none;
    display: block;
  }
  #header .header-menu .nav-menu #nav > li > a {
    line-height: 30px;
  }
}
@media (max-width: 767px) {
  .toolbar .pull-right,
  .toolbar .pull-left {
    float: none;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .toolbar .view-mode-style,
  .toolbar .ordering-product,
  .toolbar .limiter-pager {
    margin-right: 0;
    padding-right: 10px;
    display: inline-block;
  }
}
