@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url(https://fonts.gstatic.com/s/raleway/v9/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v9/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
}
@font-face {
  font-family: 'Gotham';
  font-weight: 300;
  src: url(../fonts/Gotham/Gotham-Light.otf);
}
@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Gotham/Gotham-Book.otf);
}
@font-face {
  font-family: 'Gotham';
  font-weight: 400;
  font-style: italic;
  src: url(../fonts/Gotham/Gotham-BookIta.otf);
}
@font-face {
  font-family: 'Gotham';
  font-weight: 500;
  src: url(../fonts/Gotham/Gotham-Medium.otf);
}
@font-face {
  font-family: 'Gotham';
  font-weight: 700;
  src: url(../fonts/Gotham/Gotham-Bold.otf);
}
/*url*/
/*background-color*/
/*color*/
/*fonts*/
/**/
.headding {
  max-width: 770px;
  margin: auto;
  margin-bottom: 50px;
}
.headding .title {
  font-size: 28px;
  text-transform: uppercase;
  display: inline-block;
  font-family: "Raleway";
  border-bottom: 1px solid #d6d6d6;
  position: relative;
  padding: 25px 12px;
  margin-bottom: 15px;
}
.headding .title:after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -27px;
  width: 54px;
  height: 5px;
  background-color: #999999;
}
/** initial setup nano**/
/*.nano {
 	position : relative;
  	width    : 100%;
  	height   : 100%;
  	overflow : hidden;
  	> .nano-content {
	  	position      : absolute;
	  	overflow      : scroll;
	  	overflow-x    : hidden;
	  	top           : 0;
	  	right         : 0;
	  	bottom        : 0;
	  	left          : 0;
	  	&:focus {
		  	outline: thin dotted;
		}
		&::-webkit-scrollbar {
		  	display: none;
		}
	}
	> .nano-pane {
	  	background : rgba(0,0,0,.25);
	  	position   : absolute;
	  	width      : 10px;
	  	right      : 0;
	  	top        : 0;
	  	bottom     : 0;
	  	visibility : hidden\9; 
	  	opacity    : .01;
		-webkit-transition    : .2s;
		-moz-transition       : .2s;
		-o-transition         : .2s;
	  	transition            : .2s;
		-moz-border-radius    : 5px;
		-webkit-border-radius : 5px;
	  	border-radius         : 5px;
	  	> .nano-slider {
		  	background: #444;
		  	background: rgba(0,0,0,.5);
		  	position              : relative;
		  	margin                : 0 1px;
			-moz-border-radius    : 3px;
			-webkit-border-radius : 3px;
		  	border-radius         : 3px;
		}
		&.active,
		&.flashed{
			visibility : visible\9; 
  			opacity    : 0.99;
		}
	}
	&:hover{
		> .nano-pane{
			visibility : visible\9; 
  			opacity    : 0.99;
		}
	}
}
.has-scrollbar{
	> .nano-content{
	 	&::-webkit-scrollbar {
		  	display: block;
		}
	}
}
*/
/** initial setup **/
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow: scroll;
  overflow-x: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  visibility: hidden\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #444;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 1px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  visibility: visible\9;
  /* Target only IE7 and IE8 with this hack */
  opacity: 0.99;
}
body {
  min-height: 500px;
  max-width: 1920px;
  margin: auto;
  font-size: 14px;
  font-family: "Gotham", Arial, serif;
  font-weight: 400;
  color: #111111;
  background-color: #ffffff;
}
a {
  color: #111111;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
  color: #999999;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
ul li,
ol li {
  list-style: none;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}
/*video responsive*/
.video-responsive {
  height: 0;
  padding-top: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}
.video-responsive embed,
.video-responsive iframe,
.video-responsive iframe,
.video-responsive video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
}
.audio-responsive iframe {
  width: 100%;
  height: 126px;
}
.btn {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Raleway";
  padding: 0 12px;
  font-weight: 400;
  transition: all 0.3s ease 0s;
}
.btn.form-control-feedback {
  border: none;
  pointer-events: auto;
}
.btn:focus {
  outline: none;
}
.btn-default {
  height: 40px;
  color: #111111;
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active {
  color: #ffffff;
  background-color: #111111;
  border-color: #111111;
  transition: all 0.3s ease 0s;
}
.open .btn-default.dropdown-toggle {
  color: #ffffff;
  background-color: #111111;
  border-color: #111111;
}
.btn-default:active,
.btn-default.active {
  background-image: none;
}
.open .btn-default.dropdown-toggle {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ebebeb;
  border-color: #ebebeb;
}
.btn-default .badge {
  color: #ebebeb;
  background-color: #111111;
}
a.btn-default {
  height: auto;
  line-height: 40px;
}
.btn-compare > span,
.btn-wish > span,
.btn-view > span {
  display: none;
}
.btn-compare:before,
.btn-wish:before,
.btn-view:before {
  font-family: 'FontAwesome';
}
.btn-wish:before {
  /*content: "\f004";*/
  content: "\f08a";
}
.btn-compare:before {
  /*content: "\f080";*/
  content: "\f079";
}
.btn-view:before {
  content: "\f06e";
}
/*well*/
.well {
  border-radius: 0;
}
/*list-group*/
.list-group-item:last-child,
.list-group-item:first-child {
  border-radius: 0;
}
.label {
  color: inherit;
}
/*alert*/
.alert {
  border-radius: 0;
}
/*img-thumbnail*/
.img-thumbnail {
  border-radius: 0;
  padding: 0;
}
.img-rounded {
  border-radius: 0;
}
.img-thumbnail,
.img-rounded,
.img-circle {
  max-height: 100%;
}
/*pagination*/
.pagination {
  margin: 0;
}
.pagination > li {
  display: inline-block;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > span {
  border-radius: 0;
}
.pagination > li > a,
.pagination > li > span {
  border-radius: 0;
  color: #999999;
  border-color: #999999;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #999999;
  color: #fff;
  border-color: #999999;
}
.pagination .active > a,
.pagination .active > span,
.pagination .active > a:hover,
.pagination .active > span:hover,
.pagination .active > a:focus,
.pagination .active > span:focus {
  background-color: #999999;
  color: #fff;
  border-color: #999999;
}
.pager > li > a,
.pager > li > span {
  color: #999999;
  border-color: #999999;
}
.pager > li > a:hover,
.pager > li > span:hover,
.pager > li > a:focus,
.pager > li > span:focus {
  background-color: #999999;
  color: #fff;
  border-color: #999999;
}
/*breadcrumb*/
.breadcrumb {
  background-color: transparent;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  margin-bottom: 0;
}
.breadcrumb li {
  color: #111111;
}
.breadcrumb li + li:before {
  color: #111111;
  content: "\f178";
  font-family: 'FontAwesome';
  font-size: 10px;
}
.breadcrumb .active {
  color: #999999;
}
/*dropdown*/
.dropdown-menu {
  border-radius: 0;
}
.dropdown-menu > li > a {
  color: #111111;
  padding: 6px 12px;
}
.dropdown-menu > li > a:hover {
  background-color: #999999;
  color: #fff;
}
.dropdown-menu .dropdown-header {
  color: #777;
  padding: 6px 12px;
}
/*panel*/
.panel {
  border-radius: 0;
  border-width: 3px 1px 1px;
  border-color: #999999 #e2e2e2 #e2e2e2;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel .panel-heading,
.panel .panel-footer {
  background-color: transparent;
  border-color: #e2e2e2;
}
.form-control {
  border-radius: 0;
  height: 36px;
}
.form-control::-moz-placeholder {
  color: #999;
  font-size: 13px;
}
.input-group-addon {
  border-radius: 0;
}
select,
select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../img/icon/bg-select.png) !important;
  background-repeat: no-repeat;
  background-position: center right 15px;
  padding-right: 40px;
}
select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  height: 36px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
/*tab*/
.nav-tabs {
  margin-bottom: 15px;
}
.nav-tabs > li > a {
  border-radius: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
  border-color: #ddd #ddd transparent;
  background-color: #fff;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #999999;
}
.nav-pills {
  margin-bottom: 15px;
  text-align: center;
}
.nav-pills > li {
  float: none;
  display: inline-block;
  padding: 0 24px;
  position: relative;
}
.nav-pills > li:after {
  content: "";
  width: 1px;
  height: 24px;
  background-color: #e2e2e2;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -12px;
}
.nav-pills > li > a {
  border-radius: 0;
  text-transform: uppercase;
  font-size: 25px;
  padding: 10px 0;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #999999;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: inherit;
  background-color: transparent;
  border-bottom: 1px solid #999999;
}
/*owl*/
.owl-controls {
  background-color: transparent;
}
.owl-controls .owl-prev,
.owl-controls .owl-next {
  display: inline-block;
  line-height: 55px;
  width: 55px;
  text-align: center;
  border: 1px solid #ddd;
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -27px;
  background-color: #E6E6E6;
  color: #a5a5a5;
}
.owl-controls .owl-prev:before,
.owl-controls .owl-next:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  color: #a5a5a5;
}
.owl-controls .owl-prev:hover,
.owl-controls .owl-next:hover {
  border-color: #999999;
  background-color: #999999;
  color: #fff;
}
.owl-controls .owl-prev:hover:before,
.owl-controls .owl-next:hover:before {
  color: #fff;
}
.owl-controls .owl-prev {
  left: -70px;
}
.owl-controls .owl-prev:before {
  content: "\f177";
}
.owl-controls .owl-next {
  right: -70px;
}
.owl-controls .owl-next:before {
  content: "\f178";
}
/*carousel bootstrap*/
.carousel-control {
  height: 40px;
  bottom: auto;
  top: 50%;
  margin-top: -20px;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}
.carousel-indicators li {
  border-color: #fff;
  width: 13px;
  height: 13px;
  margin: 0;
}
.carousel-indicators .active {
  background-color: #fff;
  width: 13px;
  height: 13px;
}
/*menu*/
.navbar {
  border-radius: 0;
  min-height: 50px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.navbar .navbar-nav > li > a {
  color: #111111;
  padding: 15px 12px;
  font-size: 14px;
}
.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #999999;
}
.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .active > a:focus,
.navbar .navbar-nav > .open > a:focus {
  background-color: #999999;
  color: #fff;
}
.demo-notice {
  display: none;
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  transition: all 0.5s;
}
#header.animate-children {
  position: fixed;
  top: -80px;
  -webkit-transform: translate(0, 80px);
  -ms-transform: translate(0, 80px);
  -o-transform: translate(0, 80px);
  transform: translate(0, 80px);
  -webkit-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
}
body {
  padding-top: 80px;
  position: relative;
}
/*====================*\
/mini cart
\*====================*/
.minicart-wrapper {
  padding: 12px;
  position: relative;
  max-width: 320px;
  width: 100%;
}
.minicart-wrapper .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  line-height: 30px;
  background-color: #999;
  text-align: center;
}
.minicart-wrapper .minicart-actions {
  text-align: center;
}
.minicart-wrapper .minicart-actions .btn {
  margin-bottom: 8px;
  width: 130px;
  line-height: 30px;
  font-size: 12px;
}
.minicart-wrapper .subtotal {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.minicart-wrapper .subtotal span {
  float: left;
}
.minicart-wrapper .subtotal span.price {
  float: right;
}
#cart-sidebar {
  height: 300px;
  margin-bottom: 15px;
}
#cart-sidebar .item {
  margin-bottom: 20px;
}
#cart-sidebar .product-image {
  width: 63px;
  float: left;
}
#cart-sidebar .remove-item-cart {
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  padding-top: 45px;
}
#cart-sidebar .remove-item-cart span {
  display: none;
}
#cart-sidebar .remove-item-cart a {
  line-height: 30px;
  display: block;
}
#cart-sidebar .remove-item-cart a:before {
  font-family: 'FontAwesome';
  content: "\f00d";
}
#cart-sidebar .product-details {
  width: calc(100% -  93px);
  width: -moz-calc(100% -  93px);
  width: -webkit-calc(100% -  93px);
  width: -o-calc(100% -  93px);
  float: left;
  padding: 0 10px;
}
#cart-sidebar .product-name {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
}
#cart-sidebar .info-price {
  font-size: 16px;
}
.minicart {
  position: relative;
}
.minicart .skip-minicart .icon:before {
  content: '\e8db';
  font-family: 'fpslineicons';
  font-size: 24px;
}
.minicart .skip-minicart .label {
  display: none;
}
.minicart .skip-minicart .count {
  position: absolute;
  top: 0;
  right: 8px;
  line-height: 64px;
}
.minicart .skip-content-minicart {
  width: 300px;
  left: auto;
  right: 0;
  border-radius: 0;
  /*display: none;
		position: absolute;
		top: 25px;
		right: 0;
		width: 300px;
		z-index: 99;
		background-color: #fff;*/
}
/*====================*\
//form search
\*====================*/
#search_mini_form {
  /*.form-control-feedback{
		right: auto;
		left: 0;
		text-align: center;
		&:before{
			content: '\e804';
			font-family: 'fpslineicons';
			font-size: 24px;
		}
	}*/
}
#search_mini_form label {
  display: none;
}
.top-search {
  position: relative;
}
.top-search .skip-link-search .label {
  display: none;
}
.top-search .skip-link-search .icon:before {
  content: '\e804';
  font-family: 'fpslineicons';
  font-size: 24px;
}
.top-search .dropdown-menu {
  left: auto;
  right: 0;
}
.top-search #search_mini_form {
  width: 300px;
  padding: 15px;
  /*position: absolute;
		top: 83px;
		right: 0;
		border: 1px solid #ddd;
		background-color: #fff;
		z-index: 99;
		display: none;*/
}
.top-search #search_mini_form button {
  display: none;
}
/*====================*\
//menu
\*====================*/
.nav-menu #nav {
  text-align: center;
  display: block;
  width: 100%;
}
.nav-menu #nav li {
  position: relative;
}
.nav-menu #nav > li {
  display: inline-block;
  /*&.parent{
				&:after{
					content: "\f107";
					font-family: 'FontAwesome';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					text-align: center;
					visibility: hidden;
				}
				&:hover{
					&:after{
						visibility: visible;
						color: @color-theme;
					}
				}
			}*/
}
.nav-menu #nav > li a {
  line-height: 40px;
  padding: 0 12px;
  display: block;
  white-space: pre;
  border-width: 1px 1px 1px;
  border-color: #ddd;
  border-style: solid;
  background-color: #fff;
  margin-bottom: -1px;
  text-transform: capitalize;
  position: relative;
}
.nav-menu #nav > li > a {
  text-transform: uppercase;
  border-width: 0;
  padding: 0 20px;
  font-weight: 500;
  line-height: 80px;
  background-color: transparent;
}
.nav-menu #nav > li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: auto;
  min-width: 190px;
  border-width: 0;
  border-color: #ddd;
  border-style: solid;
  background-color: transparent;
  top: 0;
  left: 100%;
  text-align: left;
  padding-left: 9px;
  box-shadow: #dddddd 10px 11px 6px -7px;
  transition: all 0.3s;
  /*-webkit-transform: translate(0, -0);
			    -ms-transform: translate(0, -0);
			    -o-transform: translate(0, -0);
		        transform: translate(0, -0);*/
}
.nav-menu #nav > li ul.shown-sub {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s;
}
.nav-menu #nav > li ul .parent:after {
  content: "\f105";
  font-family: 'FontAwesome';
  position: absolute;
  top: 12px;
  right: 10px;
}
.nav-menu #nav > li ul .parent:hover:after {
  color: #999999;
}
.nav-menu #nav > li > ul {
  left: 0;
  top: 90px;
  right: auto;
  padding-top: 1px;
  transition: all 0.3s;
  /*-webkit-transform: translate(0, 0px);
			    -ms-transform: translate(0, 0px);
			    -o-transform: translate(0, 0px);
		        transform: translate(0, 0px);
		        -webkit-transition: transform 0.5s;
			    -o-transition: transform 0.5s;
			    transition: transform 0.5s;*/
}
.nav-menu #nav > li > ul.shown-sub {
  top: 70px;
  transition: all 0.3s;
  /*-webkit-transform: translate(0, -25px);
				    -ms-transform: translate(0, -25px);
				    -o-transform: translate(0, -25px);
			        transform: translate(0, -25px);
			        -webkit-transition: transform 0.5s;
				    -o-transition: transform 0.5s;
				    transition: transform 0.5s;*/
}
.nav-menu #nav > li > ul > li:first-child > a:after,
.nav-menu #nav > li > ul > li:first-child > a:before {
  bottom: 100%;
  left: 34px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.nav-menu #nav > li > ul > li:first-child > a:after {
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}
.nav-menu #nav > li > ul > li:first-child > a:before {
  border-color: rgba(221, 221, 221, 0);
  border-bottom-color: #ddd;
  border-width: 7px;
  margin-left: -7px;
}
.nav-menu #nav > li > ul ul li:first-child > a {
  position: relative;
}
.nav-menu #nav > li > ul ul li:first-child > a:after,
.nav-menu #nav > li > ul ul li:first-child > a:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.nav-menu #nav > li > ul ul li:first-child > a:after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}
.nav-menu #nav > li > ul ul li:first-child > a:before {
  border-color: rgba(221, 221, 221, 0);
  border-right-color: #ddd;
  border-width: 7px;
  margin-top: -7px;
}
.header-link-top .dropdown-menu {
  min-width: 220px;
  width: auto;
  left: auto;
  right: 0;
  border-radius: 0;
}
.header-link-top .dropdown-menu a {
  line-height: 30px;
  /*border-bottom: 1px solid #ddd;*/
  padding: 0 10px;
  display: block;
}
.header-link-top .dropdown-menu li:last-child a {
  border-bottom: none;
}
.header-link-top ul {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 15px 0px 15px 20px;
}
.header-link-top ul li {
  list-style: square;
  font-size: 10px;
}
.header-link-top ul li a {
  font-size: 14px;
}
.header-link-top form {
  padding: 12px;
  padding-bottom: 25px;
}
.header-link-top form label {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}
.header-link-top .skip-link-top .label {
  display: none;
}
.header-link-top .skip-link-top .icon:before {
  content: '\e8f4';
  font-family: 'fpslineicons';
  font-size: 24px;
}
/*====================*\
//logo
\*====================*/
.logo {
  text-align: center;
  float: left;
  margin-left: 30px;
  height: 80px;
  width: 120px;
}
.logo a {
  display: block;
  width: 100%;
  position: relative;
  height: 0;
  padding: 69.25% 0 0 0;
  overflow: hidden;
}
.logo img {
  position: absolute;
  display: block;
  max-width: 100%;
  max-height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.header-link {
  float: right;
  margin-right: 30px;
}
.header-link .top-search,
.header-link .header-link-top,
.header-link .minicart {
  width: 80px;
  float: left;
  text-align: center;
}
.header-link .top-search > a,
.header-link .header-link-top > a,
.header-link .minicart > a {
  line-height: 80px;
  display: block;
}
.header-link .top-search > a:hover,
.header-link .header-link-top > a:hover,
.header-link .minicart > a:hover,
.header-link .top-search > a:focus,
.header-link .header-link-top > a:focus,
.header-link .minicart > a:focus {
  background-color: #999;
  color: #fff;
}
.header-link .dropdown-menu {
  margin: 0;
}
.header-link .dropdown-menu:before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 7px 6px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  top: -7px;
  right: 30px;
  z-index: 99;
}
#header {
  border-bottom: 1px solid #ddd;
  background-color: #EEEDF2;
}
/*====================*\
//sidebar
\*====================*/
.sidebar {
  margin-top: 50px;
  /*width: 210px;*/
}
.sidebar .actions {
  margin-bottom: 40px;
}
.sidebar .actions a {
  margin-left: 25px;
  line-height: 20px;
  position: relative;
  display: inline-block;
}
.sidebar .actions a:after {
  font-family: 'FontAwesome';
  content: "\f00d";
  position: absolute;
  top: 0px;
  left: -22px;
}
.main-content.col-md-9 {
  /*width: calc(~"100% - "210px);
	width: -moz-calc(~"100% - "210px);
	width: -webkit-calc(~"100% - "210px);
	width: -o-calc(~"100% - "210px); */
}
.widget_layered_nav_filters .widget-title {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.widget_layered_nav_filters li {
  padding: 5px 0;
}
.widget_layered_nav_filters li a {
  margin-left: 25px;
  line-height: 20px;
  position: relative;
  display: inline-block;
}
.widget_layered_nav_filters li a:before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #e2e2e2;
  position: absolute;
  top: 4px;
  left: -25px;
}
.widget_layered_nav_filters li a:after {
  font-family: 'FontAwesome';
  content: "\f00d";
  position: absolute;
  top: 1px;
  left: -22px;
  visibility: hidden;
  font-size: 9px;
}
.widget_layered_nav_filters li a:hover:after {
  visibility: visible;
}
#narrow-by-list .widget {
  margin-bottom: 40px;
}
#narrow-by-list .widget .widget-title {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
#narrow-by-list .widget li {
  padding: 5px 0;
}
#narrow-by-list .widget li a {
  margin-left: 25px;
  line-height: 20px;
  position: relative;
  display: inline-block;
}
#narrow-by-list .widget li a:before {
  content: "";
  width: 13px;
  height: 13px;
  border: 1px solid #e2e2e2;
  position: absolute;
  top: 4px;
  left: -25px;
}
#narrow-by-list .widget li a:after {
  font-family: 'FontAwesome';
  content: "\f00c";
  position: absolute;
  top: 1px;
  left: -24px;
  visibility: hidden;
  font-size: 9px;
}
#narrow-by-list .widget li a:hover:after {
  visibility: visible;
}
/*====================*\
//footer
\*====================*/
.footer-top {
  background-color: #F5F5F5;
  padding: 40px 0 45px;
}
.footer-top .new-letter {
  text-align: center;
  max-width: 900px;
  margin: auto;
  display: block;
}
.footer-top .new-letter .block-title {
  text-transform: uppercase;
  font-size: 30px;
}
.footer-top .new-letter label {
  font-weight: 400;
}
.footer-top .new-letter input {
  max-width: 500px;
  margin: 10px auto 30px;
  background-color: transparent;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #111;
  text-align: center;
}
.footer-top .new-letter input::-moz-placeholder {
  color: #999;
  font-size: 14px;
}
.footer-top .new-letter button {
  background-color: #111;
  color: #fff;
  border-color: #111;
}
.footer-top .new-letter button:hover {
  background-color: #999999;
  border-color: #999999;
}
.widget-footer {
  background: #131313;
  color: #eeeeee;
  padding: 50px 0 50px;
}
.widget-footer a {
  color: #eeeeee;
}
.widget-footer a:hover {
  color: #999999;
}
.widget-footer p {
  line-height: 25px;
}
.widget-footer .widget-title {
  text-transform: uppercase;
  padding: 10px 0;
  border-bottom: 1px solid #4e4e4e;
  margin: 15px 0;
  font-size: 20px;
  font-weight: 400;
}
.widget-footer ul.bullet li {
  border-bottom: 1px dotted #424242;
  position: relative;
  padding-left: 18px;
}
.widget-footer ul.bullet li:last-child {
  border-bottom: none;
}
.widget-footer ul.bullet li:before {
  content: "\f178";
  font-family: 'FontAwesome';
  font-size: 10px;
  position: absolute;
  top: 14px;
  left: 0;
}
.widget-footer ul.bullet li a {
  padding: 10px 0;
  display: block;
}
.widget-footer .block-contac-us {
  padding-top: 10px;
}
.widget-footer .footer_about_us li {
  position: relative;
  border-bottom: 1px dotted #424242;
  padding: 10px 0;
  padding-left: 25px;
}
.widget-footer .footer_about_us li:last-child {
  border-bottom: none;
}
.widget-footer .footer_about_us .icon {
  position: absolute;
  top: 16px;
  left: 0;
}
.footer-bottom {
  background-color: #000000;
  color: #696969;
}
.footer-bottom a {
  color: #696969;
}
.footer-bottom .pull-left,
.footer-bottom .pull-right {
  margin: 15px 0;
}
.share-link li {
  padding: 0;
  margin-right: 5px;
}
.share-link li a {
  color: #565656;
  font-size: 16px;
  display: block;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid #565656;
}
.share-link li a:hover {
  color: #111;
  background-color: #fff;
}
/*====================*\
//page
\*====================*/
#main {
  padding-bottom: 0px;
}
.breadcrumbs-page {
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg-page-header {
  position: relative;
}
.bg-page-header .blog-cms img {
  opacity: 0.8;
}
.bg-page-header .blog-cms > span {
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  display: block;
  text-align: center;
  font-size: 36px;
  font-family: "Raleway";
  font-weight: bold;
}
.page-title > h1 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 45px;
}
/*====================*\
//page login
\*====================*/
.account-login {
  margin-bottom: 60px;
}
.account-login .heading {
  font-style: italic;
}
.account-login .heading h2 {
  font-size: 20px;
  margin-top: 0;
  font-style: normal;
}
.account-login .col-md-5 {
  margin-bottom: 40px;
}
.account-login .buttons-set p {
  margin-bottom: 0;
}
.account-login button {
  margin-top: 30px;
  min-width: 98px;
}
.account-login .form-group {
  margin-bottom: 25px;
}
.account-login label {
  margin-bottom: 10px;
  font-weight: 500;
}
.account-login li {
  padding: 5px 0;
}
/*====================*\
//page create account
\*====================*/
.account-create {
  margin-bottom: 100px;
}
.account-create button {
  margin-top: 30px;
  min-width: 98px;
}
.account-create .form-group {
  margin-bottom: 25px;
}
.account-create label {
  margin-bottom: 10px;
  font-weight: 500;
}
.account-create h2.legend {
  margin-top: 0;
  font-size: 20px;
  display: none;
}
.page-forgot-password {
  margin-bottom: 100px;
}
.page-forgot-password .legend {
  margin-top: 0;
  font-size: 20px;
}
.page-forgot-password .form-group {
  margin-bottom: 25px;
}
.page-forgot-password label {
  margin-bottom: 10px;
  font-weight: 500;
}
/*====================*\
//page my account
\*====================*/
.block-account {
  margin-bottom: 30px;
}
.block-account .block-title strong {
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
.block-account .block-content li {
  padding: 6px 0;
}
.page-my-account {
  margin-top: 50px;
  margin-bottom: 100px;
}
.page-my-account button {
  min-width: 120px;
}
.page-my-account .page-title h1 {
  margin-top: 0;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 20px;
}
.page-my-account h2,
.page-my-account h3,
.page-my-account h4 {
  font-size: 14px;
  font-weight: 500;
}
.page-my-account input,
.page-my-account select,
.page-my-account .form-control {
  max-width: 415px;
}
/*====================*\
//page my wishlist
\*====================*/
.my-wishlist {
  margin-bottom: 15px;
}
.my-wishlist .messages {
  margin-bottom: 15px;
}
.my-wishlist table tr td,
.my-wishlist table tr th {
  vertical-align: middle !important;
  text-align: center;
  padding: 25px;
}
.my-wishlist table thead tr th {
  font-weight: 500;
  text-transform: uppercase;
  border-bottom: none;
  padding: 8px 25px;
}
.my-wishlist .product-name {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.my-wishlist .description {
  margin-bottom: 10px;
}
.my-wishlist .add-to-cart-alt input {
  width: 50px;
  height: 25px;
  padding: 0 3px;
  margin: 10px auto 10px;
  text-align: center;
}
.my-wishlist .add-to-cart-alt button {
  margin-bottom: 10px;
  height: 30px;
  font-size: 13px;
}
.my-wishlist .link-edit {
  text-transform: uppercase;
  display: inline-block;
}
.my-wishlist .btn-remove {
  width: 30px;
  line-height: 30px;
  float: right;
  text-align: center;
}
.my-wishlist .btn-remove span {
  display: none;
}
.my-wishlist .btn-remove:before {
  font-family: 'FontAwesome';
  content: "\f00d";
}
.my-wishlist .btn-update {
  margin-right: 10px;
}
/*====================*\
//page compare
\*====================*/
.block-compare #compare-items {
  margin-bottom: 10px;
}
.block-compare #compare-items li {
  position: relative;
  padding: 5px;
}
.block-compare #compare-items .btn-remove {
  width: 30px;
  line-height: 30px;
  float: right;
  text-align: center;
}
.block-compare #compare-items .btn-remove span {
  display: none;
}
.block-compare #compare-items .btn-remove:before {
  font-family: 'FontAwesome';
  content: "\f00d";
}
.page-compare {
  margin-bottom: 100px;
}
.page-compare .table {
  text-align: center;
  margin-bottom: 50px;
}
.page-compare .table button {
  margin-top: 15px;
}
.page-compare .table td,
.page-compare .table th {
  padding: 25px !important;
}
.page-compare .table th {
  font-weight: 500;
  white-space: pre;
  text-align: center;
}
.page-compare .page-title .link-print {
  margin-top: 25px;
  font-weight: 500;
}
.page-compare .ratings {
  margin-bottom: 7px;
}
.page-compare .product-name {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
}
.page-compare .link-wishlist {
  background-color: transparent;
  border-color: transparent;
}
.page-compare .link-wishlist:hover {
  background-color: #333;
}
/*====================*\
//page contact us
\*====================*/
.page-contact-us {
  margin-bottom: 100px;
}
.page-contact-us .contact-infomation i {
  font-size: 24px;
  color: #999;
  vertical-align: middle;
}
.page-contact-us .contact-infomation h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#contactForm .legend {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#contactForm label {
  display: none;
}
#contactForm .form-group {
  margin-bottom: 30px;
}
#contactForm input {
  height: 40px;
}
#contactForm textarea {
  height: 180px;
}
#contactForm .form-control {
  width: 100%;
}
/*====================*\
//page contact us
\*====================*/
.page-about-us {
  margin-bottom: 100px;
}
.page-about-us .col-md-3:nth-child(4n+1) {
  clear: both;
}
.page-about-us .col-md-6:nth-child(3n+1) {
  clear: both;
}
.page-about-us .our-story {
  margin-bottom: 98px;
}
.page-about-us .our-story h3 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.page-about-us .meet-team {
  text-align: center;
}
.page-about-us .meet-team h3 {
  font-size: 30px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.page-about-us .item-team {
  border: 1px solid #ddd;
  margin-top: 30px;
}
.page-about-us .item-team .name {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  margin: 10px 0 5px;
}
.page-about-us .item-team .img {
  width: 100%;
}
.page-about-us .item-team p {
  color: #999;
}
.page-about-us .item-team .fa {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  width: 45px;
}
.page-about-us .item-team .fa-facebook {
  color: #3c5a98;
}
.page-about-us .item-team .fa-twitter {
  color: #00aced;
}
.page-about-us .item-team .fa-google-plus {
  color: #dd4b39;
}
.page-about-us .item-team .fa-pinterest-p {
  color: #cb2026;
}
.owl-slide-home {
  margin-bottom: 15px;
}
.owl-slide-home .item img {
  width: 100%;
}
.banner-categori-home {
  padding-bottom: 55px;
}
.banner-categori-home .container {
  padding: 0 8px;
}
.banner-categori-home .row {
  margin: 0 -8px;
}
.banner-categori-home .col-md-4 {
  padding: 0 8px;
}
.banner-categori-home img {
  margin-bottom: 16px;
  width: 100%;
}
.block-new-product {
  padding-top: 50px;
  margin-bottom: 70px;
}
.block-new-product .subtitle {
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 40px;
  margin-bottom: 34px;
  display: block;
  text-align: center;
}
.block-new-product .products-grid {
  margin: 0 -15px;
  width: auto;
  padding-top: 40px;
}
.block-new-product .owl-item {
  padding: 0 15px;
}
.block-new-product .owl-item img {
  width: 100%;
}
.images-banner {
  margin-bottom: 63px;
}
.owl-brand {
  margin-bottom: 85px;
}
/*====================*\
//products-list
\*====================*/
.ratings .rating-box,
.ratings .rating {
  line-height: 18px;
}
.ratings .rating-box:before,
.ratings .rating:before {
  font-size: 14px;
  font-family: 'FontAwesome';
  content: "\f005 \f005 \f005 \f005 \f005";
  line-height: 18px;
}
.ratings .rating-box {
  position: relative;
  display: inline-block;
}
.ratings .rating-box:before {
  color: #999999;
}
.ratings .rating {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
}
.ratings .rating:before {
  color: #ffcc00;
}
.ratings .amount {
  display: none;
}
#products-list .item-product-list {
  margin-bottom: 40px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  padding: 15px;
}
#products-list .item-product-list .img-product {
  width: 265px;
  float: left;
  margin-right: 30px;
}
#products-list .item-product-list .img-product img {
  width: 100%;
}
#products-list .item-product-list .caption {
  overflow: hidden;
}
#products-list .item-product-list .product-name {
  font-size: 18px;
  line-height: 18px;
  color: #999;
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}
#products-list .item-product-list .product-name a {
  color: #999;
}
#products-list .item-product-list .price-box {
  margin-bottom: 5px;
  line-height: 18px;
}
#products-list .item-product-list .price-box .regular-price {
  font-size: 20px;
  color: #111;
}
#products-list .item-product-list .price-box .price-from,
#products-list .item-product-list .price-box .price-to,
#products-list .item-product-list .price-box .minimal-price,
#products-list .item-product-list .price-box .old-price,
#products-list .item-product-list .price-box .special-price {
  display: inline-block;
  font-size: 20px;
  color: #111;
}
#products-list .item-product-list .price-box .price-from .price-label,
#products-list .item-product-list .price-box .price-to .price-label,
#products-list .item-product-list .price-box .minimal-price .price-label,
#products-list .item-product-list .price-box .old-price .price-label,
#products-list .item-product-list .price-box .special-price .price-label {
  display: none;
}
#products-list .item-product-list .price-box .old-price {
  font-size: 12px;
  color: #999;
  margin-right: 15px;
}
#products-list .item-product-list .price-box .price-to:before {
  content: "-";
  display: inline-block;
}
#products-list .item-product-list .descaption {
  margin-bottom: 15px;
}
#products-list .item-product-list .descaption .link-learn {
  color: #999;
}
/*====================*\
//products-grid
\*====================*/
.products-grid .item-product {
  /*border: 1px solid @color-border;*/
  margin-bottom: 30px;
  padding-bottom: 26px;
}
.products-grid .item-product .img-product {
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.08);
  border: 1px solid transparent;
}
.products-grid .item-product .caption {
  position: relative;
  text-align: center;
  padding-bottom: 0;
  padding-top: 12px;
}
.products-grid .item-product .name-product {
  font-size: 12px;
  margin: 0 0 4px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}
.products-grid .item-product .price-box {
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 18px;
}
.products-grid .item-product .price-box .old-price,
.products-grid .item-product .price-box .special-price {
  display: inline-block;
}
.products-grid .item-product .price-box .old-price {
  font-size: 12px;
  color: #999;
  margin-right: 15px;
}
.products-grid .item-product .price-box .price-from,
.products-grid .item-product .price-box .price-to,
.products-grid .item-product .price-box .minimal-price {
  display: inline-block;
}
.products-grid .item-product .price-box .price-from .price-label,
.products-grid .item-product .price-box .price-to .price-label,
.products-grid .item-product .price-box .minimal-price .price-label {
  display: none;
}
.products-grid .item-product .price-box .price-to:before {
  content: "-";
  display: inline-block;
}
.products-grid .item-product .ratings .rating-links {
  display: none;
}
.products-grid .item-product .action-btn {
  position: absolute;
  bottom: 0;
  left: 1px;
  right: 1px;
  background-color: rgba(219, 219, 219, 0.8);
  transform: translate3d(0px, 100%, 0px);
  transition: transform 0.35s ease 0s;
  overflow: hidden;
}
.products-grid .item-product .action-btn .btn {
  transform: translate3d(0px, 200%, 0px);
  transition: transform 0.35s ease 0s;
  background-color: transparent;
  border-color: transparent;
  color: #fff;
  float: right;
  width: 40px;
  border-width: 0 1px 0 0;
  border-left: 1px solid #fff;
  margin-left: -1px;
  position: relative;
  transition: all 0.3s ease 0s;
}
.products-grid .item-product .action-btn .btn span {
  display: none;
}
.products-grid .item-product .action-btn .btn:hover {
  background-color: #111;
  border-color: #111;
  z-index: 10;
  transition: all 0.3s ease 0s;
}
.products-grid .item-product .action-btn .btn {
  color: #333;
  font-size: 16px;
}
.products-grid .item-product .action-btn .btn:hover {
  color: #fff;
}
.products-grid .item-product .action-btn .btn-add-to-cart {
  transition-delay: 0.1s;
  float: left;
  border-left: none;
  width: calc(100% -  117px);
  width: -moz-calc(100% -  117px);
  width: -webkit-calc(100% -  117px);
  width: -o-calc(100% -  117px);
  margin-left: 0;
}
.products-grid .item-product .action-btn .btn-add-to-cart span {
  display: inline-block;
  font-size: 13px;
  padding-left: 7px;
}
.products-grid .item-product .action-btn .btn-add-to-cart:before {
  content: "\f07a";
  font-family: 'FontAwesome';
}
.products-grid .item-product .action-btn .btn-compare {
  transition-delay: 0.25s;
}
.products-grid .item-product .action-btn .btn-compare:before {
  content: "\f079";
  font-family: 'FontAwesome';
}
.products-grid .item-product .action-btn .btn-wish {
  transition-delay: 0.2s;
}
.products-grid .item-product .action-btn .btn-wish:before {
  content: "\f08a";
  font-family: 'FontAwesome';
}
.products-grid .item-product .action-btn .btn-view {
  transition-delay: 0.15s;
}
.products-grid .item-product .action-btn .btn-view:before {
  content: "\f06e";
  font-family: 'FontAwesome';
}
.products-grid .item-product:hover .action-btn {
  transform: translate3d(0px, 0px, 0px);
}
.products-grid .item-product:hover .action-btn .btn {
  transform: translate3d(0px, 0px, 0px);
}
.products-grid .item-product:hover .img-product {
  border: 1px solid #e2e2e2;
}
/*====================*\
//categori
\*====================*/
.toolbar {
  margin-bottom: 20px;
}
.toolbar label {
  font-weight: 400;
  font-size: 12px;
  display: inline-block;
  padding-right: 7px;
}
.toolbar .view-mode-style {
  padding-right: 95px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.toolbar .view-mode-style .grid,
.toolbar .view-mode-style .list {
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
.toolbar .view-mode-style .grid span,
.toolbar .view-mode-style .list span {
  color: #111;
}
.toolbar .view-mode-style .grid a,
.toolbar .view-mode-style .list a {
  color: #999999;
}
.toolbar .view-mode-style .grid a,
.toolbar .view-mode-style .list a,
.toolbar .view-mode-style .grid span,
.toolbar .view-mode-style .list span {
  display: block;
  font-family: 'FontAwesome';
}
.toolbar .view-mode-style .grid a:before,
.toolbar .view-mode-style .grid span:before {
  content: "\f009";
}
.toolbar .view-mode-style .list a:before,
.toolbar .view-mode-style .list span:before {
  content: "\f00b";
}
.toolbar select {
  border: 1px solid #999999;
  display: inline-block;
  font-size: 10px;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
  padding: 0 13px 0 6px;
  background-image: url(../img/icon/bg-select.png);
  background-repeat: no-repeat;
  background-position: center right 6px;
}
.toolbar select:focus {
  box-shadow: none;
}
.toolbar .sort-by {
  display: inline-block;
  vertical-align: middle;
  padding-right: 95px;
  margin-bottom: 10px;
}
.toolbar .sort-by select {
  min-width: 76px;
  width: auto;
}
.toolbar .sort-by .sort-top {
  display: inline-block;
}
.toolbar .limiter-pager {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
}
.toolbar .limiter-pager select {
  width: 42px;
}
.toolbar-bottom {
  margin-top: 0px;
}
.page-title.category-title {
  display: none;
}
.category-products {
  margin-top: 50px;
}
/*====================*\
//page detail
\*====================*/
.detail-product .messages {
  margin-bottom: 15px;
}
.detail-product .product-essential {
  margin-bottom: 45px;
}
.product-img-box img {
  border: 1px solid #ddd;
}
.product-img-box .product-image {
  width: 72.05%;
  float: left;
}
.product-img-box .product-image img {
  width: 100%;
}
.product-img-box .more-views {
  width: 21.39%;
  float: right;
}
.product-img-box .more-views li {
  margin-bottom: 30px;
}
.product-img-box .more-views li img {
  width: 100%;
}
.product-shop .email-friend {
  display: none;
}
.product-shop .product-name h1 {
  line-height: 18px;
  font-size: 18px;
  margin: 0 0 15px;
  text-transform: uppercase;
}
.product-shop .in-stock {
  line-height: 18px;
  font-size: 12px;
  margin: 0 0 15px;
}
.product-shop .in-stock span {
  font-weight: 500;
}
.product-shop .ratings .rating-box {
  margin-right: 8px;
}
.product-shop .ratings .rating-links {
  display: inline-block;
}
.product-shop .price-box .regular-price {
  font-size: 20px;
  line-height: 18px;
  margin: 0 0 15px;
  display: inline-block;
}
.product-shop .price-box .price-from,
.product-shop .price-box .price-to,
.product-shop .price-box .minimal-price,
.product-shop .price-box .old-price,
.product-shop .price-box .special-price {
  display: inline-block;
  font-size: 20px;
  color: #111;
}
.product-shop .price-box .price-from .price-label,
.product-shop .price-box .price-to .price-label,
.product-shop .price-box .minimal-price .price-label,
.product-shop .price-box .old-price .price-label,
.product-shop .price-box .special-price .price-label {
  display: none;
}
.product-shop .price-box .old-price {
  font-size: 16px;
  color: #999;
  margin-right: 15px;
  text-decoration: line-through;
}
.product-shop .price-box .price-to:before {
  content: "-";
  display: inline-block;
}
.product-shop .short-description {
  font-size: 14px;
  line-height: 24px;
  margin: 0 0 40px;
}
.product-shop .short-description > h2 {
  display: none;
}
.product-shop .product-options {
  margin-bottom: 15px;
}
.product-shop .product-options .form-group {
  display: inline-block;
  margin-bottom: 5px;
}
.product-shop .product-options select {
  display: inline-block;
  width: 150px;
  border: 1px solid #ebebeb;
  box-shadow: none;
  font-size: 12px;
  margin-right: 100px;
}
.product-shop .product-options label {
  font-weight: 400;
  line-height: 18px;
  width: 50px;
}
.product-shop .product-options-bottom label {
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  width: 50px;
}
.product-shop .product-options-bottom input {
  width: 90px;
  height: 41px;
  border: 1px solid #ebebeb;
  box-shadow: none;
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
}
.product-shop .product-options-bottom button {
  margin-right: 8px;
}
.product-shop .add-to-cart {
  display: inline-block;
}
.product-shop .add-to-links {
  display: inline-block;
}
.product-shop .add-to-links li {
  display: inline-block;
  margin-right: 8px;
}
.tab-detail {
  margin-bottom: 50px;
}
.tab-detail .nav-pills {
  text-align: left;
  border-bottom: 1px solid #ebebeb;
}
.tab-detail .nav-pills li {
  padding: 0 20px;
}
.tab-detail .nav-pills li:first-child {
  padding-left: 0;
}
.tab-detail .nav-pills li:after {
  content: none;
}
.tab-detail .nav-pills li > a {
  color: #999;
  font-size: 18px;
}
.tab-detail .nav-pills li > a,
.tab-detail .nav-pills li > a:hover,
.tab-detail .nav-pills li > a:focus {
  border-bottom: none;
}
.tab-detail .nav-pills li.active > a {
  color: #333;
}
.tab-detail .nav-pills li.active > a,
.tab-detail .nav-pills li.active > a:hover,
.tab-detail .nav-pills li.active > a:focus {
  border-bottom: none;
}
.tab-detail .tab-content h2 {
  font-size: 18px;
}
.block-related,
.box-up-sell {
  padding-top: 65px;
  border-top: 1px solid  #ebebeb;
}
.block-related .block-heading,
.box-up-sell .block-heading {
  text-align: center;
  margin-bottom: 20px;
}
.block-related .block-heading .block-title,
.box-up-sell .block-heading .block-title {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
  margin-bottom: 10px;
}
.block-related .block-heading a,
.box-up-sell .block-heading a {
  color: #999999;
}
.block-related .owl-bottom-detail,
.box-up-sell .owl-bottom-detail {
  margin-bottom: 15px;
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
}
.block-related .owl-bottom-detail .owl-item,
.box-up-sell .owl-bottom-detail .owl-item {
  padding: 15px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*====================*\
//page-cart
\*====================*/
.page-cart {
  padding-bottom: 85px;
}
.page-cart .messages {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: #dff0d8;
  border-color: #dff0d8;
  color: #3c763d;
}
.page-cart .cart-table {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.page-cart .cart-table thead {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}
.page-cart .cart-table thead > tr > th {
  border-bottom: none;
}
.page-cart .cart-table > thead > tr > td,
.page-cart .cart-table > tbody > tr > td,
.page-cart .cart-table tfoot > tr > td,
.page-cart .cart-table > thead > tr > th,
.page-cart .cart-table > tbody > tr > th,
.page-cart .cart-table tfoot > tr > th {
  padding: 20px;
  text-align: center;
}
.page-cart .cart-table .image-product {
  display: block;
  width: 80px;
}
.page-cart .cart-table .image-product img {
  width: 100%;
}
.page-cart .cart-table .name-product,
.page-cart .cart-table .item-options {
  text-align: left;
}
.page-cart .cart-table .name-product {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0;
}
.page-cart .cart-table .item-options {
  font-weight: 400;
  color: #999;
}
.page-cart .cart-table .cart-price {
  width: 210px;
  display: block;
  font-size: 18px;
}
.page-cart .cart-table .qty {
  width: 60px;
  height: 30px;
}
.page-cart .cart-table .btn-remove {
  width: 40px;
  display: block;
}
.page-cart .cart-table .btn-remove span {
  display: none;
}
.page-cart .cart-table .btn-remove:before {
  font-family: 'FontAwesome';
  font-size: 18px;
  content: "\f00d";
}
.page-cart .tfoot-btn {
  margin-bottom: 30px;
}
.page-cart .tfoot-btn .btn-continue {
  float: left;
}
.page-cart .tfoot-btn .btn-update,
.page-cart .tfoot-btn .btn-empty {
  float: right;
}
.page-cart .tfoot-btn .btn-empty {
  margin-right: 15px;
}
.page-cart .cart-collaterals .title {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.page-cart .cart-collaterals .form-control,
.page-cart .cart-collaterals select {
  height: 40px;
  max-width: 300px;
  width: 100%;
}
.page-cart .cart-collaterals select {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 14px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.page-cart .cart-collaterals label {
  font-weight: 400;
  margin-bottom: 10px;
}
.page-cart .cart-collaterals button {
  margin-top: 15px;
  min-width: 117px;
}
.page-cart #shopping-cart-totals-table {
  width: 100%;
  text-align: right;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 5px;
}
.page-cart #shopping-cart-totals-table td {
  width: 50%;
  padding: 5px 0;
}
.page-cart #shopping-cart-totals-table td:first-child {
  text-align: left;
}
.page-cart #shopping-cart-totals-table tfoot {
  font-size: 16px;
}
.page-cart #shopping-cart-totals-table tfoot strong {
  font-weight: 500;
  padding-bottom: 8px;
  display: block;
}
.page-cart .cart-empty a {
  color: #999;
}
/*====================*\
//page check out
\*====================*/
.checkout-onepage {
  margin-bottom: 80px;
}
#checkoutSteps > li.allow .step-title {
  cursor: pointer;
}
#checkoutSteps .step-title {
  background-color: #EBEBEB;
  text-transform: uppercase;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}
#checkoutSteps .step-title .number {
  display: block;
  width: 42px;
  line-height: 42px;
  background-color: #111111;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
}
#checkoutSteps .step-title > h2 {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 42px;
  display: inline-block;
}
#checkoutSteps .step-title .btn-edit {
  display: block;
  width: 42px;
  line-height: 42px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  text-align: center;
}
#checkoutSteps .step-title .btn-edit:before {
  content: "\f040";
  font-family: 'FontAwesome';
  font-size: 18px;
}
#checkoutSteps .step-title .btn-edit span {
  display: none;
}
#checkoutSteps > li {
  margin-bottom: 15px;
}
#checkoutSteps label {
  font-weight: 400;
  margin-bottom: 10px;
}
#checkoutSteps .btn-default {
  min-width: 120px;
}
#checkoutSteps .radio label {
  font-size: 14px;
  margin-bottom: 0;
}
#checkoutSteps .title-step .title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
}
#checkoutSteps .title-step p {
  font-style: italic;
}
#checkoutSteps .buttons-set {
  padding-top: 30px;
}
#checkoutSteps .step {
  padding-bottom: 25px;
  padding-top: 15px;
}
#checkoutSteps .gift-messages > h3 {
  font-size: 16px;
  text-transform: uppercase;
}
#checkoutSteps .product-img-message {
  margin-bottom: 15px;
}
#checkoutSteps .product-img-message .product-image {
  width: 90px;
  margin-right: 15px;
  float: left;
}
#checkoutSteps .product-img-message .caption {
  float: left;
  width: calc(100% -  105px);
  width: -moz-calc(100% -  105px);
  width: -webkit-calc(100% -  105px);
  width: -o-calc(100% -  105px);
}
#checkoutSteps #checkout-step-payment .buttons-set,
#checkoutSteps #checkout-step-shipping .buttons-set,
#checkoutSteps #checkout-step-shipping_method .buttons-set,
#checkoutSteps #checkout-step-review .buttons-set {
  padding-top: 0;
}
#checkoutSteps #checkout-step-review .buttons-set {
  overflow: hidden;
}
#checkoutSteps #checkout-step-review .buttons-set .f-left {
  float: right;
  padding-top: 10px;
}
#checkoutSteps #checkout-step-review .buttons-set button {
  float: left;
}
#checkoutSteps #checkout-step-review table {
  font-size: 12px;
  margin-bottom: 30px;
}
#checkoutSteps #checkout-step-review table thead {
  font-size: 14px;
}
#checkoutSteps #checkout-step-review table thead th {
  font-weight: 500;
}
#checkoutSteps #checkout-step-review table tfoot td:first-child {
  text-align: right;
}
#checkoutSteps #checkout-step-review .product-name {
  font-size: 12px;
  text-transform: uppercase;
}
#checkoutSteps #checkout-step-review .item-options dt,
#checkoutSteps #checkout-step-review .item-options dd {
  display: inline-block;
  color: #999999;
  font-weight: 400;
}
#checkout-progress-wrapper {
  margin-top: -20px;
}
#checkout-progress-wrapper .block-title {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#checkout-progress-wrapper .block-title strong {
  font-weight: 400;
}
#checkout-progress-wrapper dt.complete {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
}
#checkout-progress-wrapper dd.complete {
  font-style: italic;
  font-weight: 400;
  color: #999;
}
#checkout-progress-wrapper dd.complete address {
  font-style: italic;
}
#checkout-progress-wrapper .block-content > dl > div > dt {
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.page-checkout-success {
  margin-bottom: 100px;
}
.page-checkout-success .sub-title {
  font-size: 18px;
}
